$body-background: #e5e5e5;
$white: #ffffff;
$nav-font: #2a2a2a;
$nav-divider: #f0f0f5;
$form-title: #2a2a2a;
$step-done: #2a2a2a;
$step-undone: #afb1bd;
$step-line: #000000;
$input-label: #808080;
$input-font-invalid: #999999;
$input-font-valid: #2a2a2a;
$input-block: #4a4a4a;
$form-divider: #e6e6eb;
$radio: #222222;
$radio-block-active: #2a2a2a;
$radio-block-disabled: #f0f0f5;
$radio-font: #222222;
$button-background: #f67599;
$button-font-black: #000000;
$cart-divider: #f0f0f5;
$cart-title: #2a2a2a;
$cart-font: #000000;
$cart-icon: #f0f0f5;
$footer-title: #2a2a2a;
$footer-font: #808080;
