@import './color.scss';
@import './mixin.scss';

/* 使用@each 產出css size設定 */
$sizes: (
  25: 25%,
  50: 50%,
  75: 75%,
  100: 100%,
);

@each $prop, $abbrev in (width: w, height: h) {
  @each $num, $val in $sizes {
    .#{$abbrev}-#{$num} {
      #{$prop}: $val;
    }
  }
}

/* 使用@each 產出css spacer設定 */
$spacer: 1rem;
$spacers: (
  0: 0,
  1: (
    $spacer * 0.25,
  ),
  2: (
    $spacer * 0.5,
  ),
  3: (
    $spacer * 0.75,
  ),
  4: $spacer,
  5: (
    $spacer * 1.25,
  ),
  6: (
    $spacer * 1.5,
  ),
  7: (
    $spacer * 1.75,
  ),
  8: (
    $spacer * 2,
  ),
);

@each $prop, $abbrev in (margin: m, padding: p) {
  @each $num, $val in $spacers {
    .#{$abbrev}-#{$num} {
      #{$prop}: $val;
    }
    .#{$abbrev}t-#{$num} {
      #{$prop}-top: $val;
    }
    .#{$abbrev}r-#{$num} {
      #{$prop}-right: $val;
    }
    .#{$abbrev}b-#{$num} {
      #{$prop}-bottom: $val;
    }
    .#{$abbrev}l-#{$num} {
      #{$prop}-left: $val;
    }
    .#{$abbrev}x-#{$num} {
      #{$prop}-left: $val;
      #{$prop}-right: $val;
    }
    .#{$abbrev}y-#{$num} {
      #{$prop}-top: $val;
      #{$prop}-bottom: $val;
    }
  }
}

%title-style {
  font-size: 24px;
  font-weight: bold;
  color: $form-title;
}

%input-style {
  border: 1px solid $input-block;
  border-radius: 4px;
  font-size: 12px;
  padding: 12px 18px;
  width: 100%;
  height: 40px;
  background-color: transparent;
}

%label-style {
  display: block;
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  color: $input-label;
}

%input-select-triangle {
  position: relative;
  z-index: 0;
  &::after {
    content: '';
    border-style: solid;
    border-width: 6px 5px 0 5px;
    border-color: $input-font-valid transparent transparent transparent;
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    z-index: -1;
  }
}

::-webkit-input-placeholder {
  color: $input-font-invalid;
}

html {
  font-size: 16px;
  height: 100%;
}

body {
  height: 100%;
  background: $body-background;
}

.d-none {
  display: none;
}

.d-inline {
  display: inline;
}

.d-inline-block {
  display: inline-block;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.align-content-start {
  align-content: flex-start;
}

.align-content-end {
  align-content: flex-end;
}

.align-content-center {
  align-content: center;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.cursor-pointer {
  cursor: pointer;
}

// Mobile first
#nav {
  background-color: $white;
}

.nav-container {
  width: 90%;
  margin: 0 auto;
  position: relative;
  .hamburger:checked ~ .nav-list {
    display: initial;
    & ~ .nav-icons {
      display: initial;
    }
  }
  .hamburger-label {
    display: inline-block;
    width: 100%;
    img {
      width: 2rem;
      padding-top: 0.5rem;
    }
  }
  .nav-logo {
    height: 2rem;
    position: absolute;
    top: 0.5rem;
  }
  .nav-list {
    width: 100%;
    .nav-item {
      border-bottom: 1px solid $nav-divider;
      padding: 1rem 0;
      .nav-link {
        color: $nav-font;
        font-size: 16px;
        display: block;
        width: 50%;
        text-align: center;
        margin: 0 auto;
      }
    }
  }
  .nav-icons {
    padding: 1rem 0;
    &__btn {
      height: 2rem;
      margin: 0 1rem;
    }
  }
}

#main-content {
  background-color: $white;
}

#form {
  width: 90%;
  margin: 0 auto;
  .checkout-container {
    .main-title {
      @extend %title-style;
    }
  }
  .cart-container {
    border: 1px solid $cart-divider;
    border-radius: 8px;
    .cart-title {
      display: none;
      font-size: 18px;
      font-weight: 700;
    }
  }
}

.stepper-panel {
  display: flex;
  .step {
    flex: 1;
    @include getStepNums(3);
    position: relative;
    &.done,
    &.active {
      .circle-container {
        border: 1px solid $step-done;
        background-color: $step-done;
        color: $white;
      }
      .label-container {
        color: $step-done;
      }
      .connect-line {
        background-color: $step-done;
      }
    }
    &.done .circle-container::after {
      content: '\2714';
    }
    .circle-container {
      height: 24px;
      width: 24px;
      border-radius: 50%;
      border: 1px solid $step-undone;
      color: $step-undone;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      &.circle-one {
        position: absolute;
        left: 0;
      }
      &.circle-three {
        position: absolute;
        right: 0;
      }
    }
    .label-container {
      color: $step-undone;
      display: none;
    }
    .connect-line {
      display: block;
      height: 2px;
      position: absolute;
      top: 12px;
      background-color: $step-undone;
      &.line-one {
        left: 50%;
        right: -10%;
      }
      &.line-two {
        left: 90%;
        right: -50%;
      }
    }
  }
}

.form-panel {
  .sub-title {
    @extend %title-style;
  }
  label {
    @extend %label-style;
    margin: 0.25rem 0;
  }
  .form-row {
    margin: 0.5rem 0;
    width: 100%;
    &.row-wrapper-one {
      display: flex;
      justify-content: space-between;
      .gender-row {
        width: 35%;
        .select-wrapper {
          @extend %input-select-triangle;
        }
      }
      .name-row {
        width: 55%;
      }
    }
    &.row-wrapper-four {
      display: flex;
      justify-content: space-between;
      .card-date-row {
        width: 45%;
      }
      .security-code-row {
        width: 45%;
      }
    }
    .select-wrapper {
      @extend %input-select-triangle;
    }
    .shipping-way input[type='radio']:checked::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 4px;
      border: 1px solid $radio-block-active;
    }
  }
  input {
    &[type='text'] {
      @extend %input-style;
    }
    &[type='radio'] {
      -webkit-appearance: none;
      border-radius: 50%;
      border: 1px solid $radio;
      cursor: pointer;
      width: 20px;
      height: 20px;
      margin-left: 1rem;
      &:checked {
        box-shadow: inset 0 0 0 5px $radio;
      }
    }
  }
  select {
    -webkit-appearance: none;
    cursor: pointer;
    @extend %input-style;
    &:invalid {
      color: $input-font-invalid;
    }
  }
  .shipping-way {
    position: relative;
    border: 1px solid $radio-block-disabled;
    border-radius: 4px;
    height: 60px;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    label {
      display: inline-block;
      cursor: pointer;
      margin-left: 1rem;
      .shipping-name {
        font-size: 14px;
        font-weight: 400;
        color: $radio-font;
      }
      .shipping-time {
        font-size: 12px;
        font-weight: 400;
        color: $radio-font;
      }
    }
    .shipping-fee {
      position: absolute;
      top: 13px;
      right: 1rem;
      font-size: 12px;
      font-weight: 400;
      color: $radio-font;
    }
  }
}

.product-panel {
  margin: 0 auto;
  .product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &_img-wrapper {
      width: 100px;
      border-radius: 4px;
    }
    &_info-wrapper {
      height: 100px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      width: 158px;
      margin: 1rem 0;
      .product-description {
        color: $cart-font;
        font-size: 16px;
        font-weight: 400;
      }
      .product-price {
        color: $cart-font;
        font-size: 16px;
        font-weight: 700;
      }
      .product-qty {
        color: $cart-font;
        font-size: 14px;
        font-weight: 500;
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &_minus,
        &_plus {
          width: 26px;
          height: 27px;
          border-radius: 50%;
          text-align: center;
          line-height: 25px;
          background-color: $cart-icon;
          cursor: pointer;
        }
      }
    }
  }
}

.cost-panel {
  .cost {
    border-top: 1px solid $cart-divider;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0.5rem;
    padding: 1rem 0.5rem;
    &_title {
      font-size: 14px;
      color: $cart-title;
    }
    &_fee {
      font-size: 14px;
      color: $cart-font;
      font-weight: 700;
    }
  }
}

.control-container {
  border-top: 1px solid $form-divider;
  display: flex;
  justify-content: space-between;
  .btn {
    width: 100%;
    margin: 0;
    height: 40px;
    &.previous {
      color: $button-font-black;
      text-align: start;
      &::before {
        content: '\2190';
        margin-right: 1rem;
      }
    }
    &.next {
      color: $white;
      background-color: $button-background;
      border-radius: 8px;
      &::after {
        content: '\2192';
        margin-left: 1rem;
      }
    }
  }
}

// Desktop
@media screen and (min-width: 960px) {
  .nav-container {
    flex-direction: row;
    justify-content: space-between;
    .hamburger-label {
      display: none;
    }
    .nav-logo {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .nav-icons {
      display: block;
      &__btn {
        margin: 0 0.5rem;
      }
    }
    .nav-list {
      display: initial;
      width: auto;
      .nav-item {
        display: inline-block;
        margin: 0 0.5rem;
        border: none;
        .nav-link {
          display: inline;
        }
      }
    }
  }

  #form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'checkout-container cart-container'
      'control-container cart-container';
    .checkout-container {
      grid-area: checkout-container;
      min-height: 375px;
    }
    .cart-container {
      grid-area: cart-container;
      margin-left: 4rem;
      .cart-title {
        display: block;
      }
    }
    .control-container {
      grid-area: control-container;
    }
  }

  .stepper-panel {
    height: 50px;
    margin: 1rem 0;
    .step {
      display: flex;
      align-items: center;
      .label-container {
        display: inline;
      }
      .circle-container {
        margin: 0;
        &.circle-one,
        &.circle-three {
          position: static;
        }
      }
      .connect-line {
        top: 24px;
        &.line-one {
          left: 70%;
          right: 0;
        }
        &.line-two {
          left: 100%;
          right: -30%;
        }
      }
      &.step-two {
        display: flex;
        justify-content: center;
      }
      &.step-three {
        display: flex;
        justify-content: flex-end;
      }
    }
  }

  .form-panel {
    .form-row {
      &.row-wrapper-two {
        display: flex;
        justify-content: space-between;
        .phone-row,
        .email-row {
          width: 45%;
        }
      }
      &.row-wrapper-three {
        display: flex;
        justify-content: space-between;
        .region-row {
          width: 35%;
        }
        .address-row {
          width: 55%;
        }
      }
    }
  }

  .control-container {
    display: flex;
    justify-content: flex-end;
    .previous {
      width: 70%;
    }
    .next {
      width: 30%;
    }
  }

  #footer {
    display: block;
    height: 284px;
  }

  .footer-container {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    .footer-section {
      height: 50%;
      margin: auto 0;
      &.logo {
        display: flex;
        align-items: center;
        .footer-logo {
          display: inline-block;
          height: 2rem;
          background-color: transparent;
        }
      }
      &.subscribe {
        .footer-list {
          &__link {
            display: inline-block;
            height: 1.5rem;
            margin: 0 0.25rem;
          }
        }
      }
      .sub-title {
        font-size: 24px;
        color: $footer-title;
      }
      .footer-list {
        margin: 0.5rem 0 0 0.25rem;
        &__link {
          font-size: 16px;
          color: $footer-font;
        }
      }
    }
  }
}
